__pycache__/*
.DS_Store

#ignore venv
slt/

#ignore config.json
#config.json

#ignore wandb folder
wandb/

#ignore models folder (sent to google cloud storage)
#unable to get google cloud working yet
#saved_models/

#ignore google cloud sdk folder
google-cloud-sdk/

#ignore pycache
*.pyc

#ignore weight data, training should be done on gpu server
# *.pth
# *.pkl

#ignore figs, this is a temporary folder designed to see figures by matplotlib
#figs/
